@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(97, 186, 255, 1) 0%,
		rgba(166, 239, 253, 1) 90.1%
	);
}

body {
	margin: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

main {
	height: 100%;
	margin: 0 auto;
	max-width: 450px;
	min-width: 300px;
}
